{% extends "base.html" %}
{% block title %} - {{ name }}{% endblock %}
{% block content %}
<h3 class="is-size-3">{{ name }}</h3>
<span class="mt-3">
  {% if msg %}
  <div class="notification is-link">
    <button class="delete"></button>
    {{ msg }}
  </div>
  {% endif %}

  <h4 class="is-size-4">link</h4>
  <p>
    <strong>link for other players</strong>: <a href="/{{ name }}/join">{{ name }}</a>
  </p>

  <h4 class="is-size-4 mt-4">players</h4>
  <p>
    <ul>
    {% for player in game.players %}
    <li>{{ player }} {% if player == user_id %}(you){% endif %}
    {% endfor %}
  </p>

  <h4 class="is-size-4 mt-4">Start game</h4>
  <p>
    {% if game.host == user_id %}
    <strong><a href="/{{ name }}/start">start game</a></strong>
    {% else %}
    Game can only be started by the host
    {% endif %}
  </p>
</span>
{% endblock %}
