{% extends "base.html" %}
{% block title %} - {{ name }}{% endblock %}
{% block content %}
<h3 class="is-size-3">Active game: {{ name }}</h3>

<div class="columns mt-5">
  <div class="column is-4">
    <h4 class="is-size-4">Top card on playing stack</h4>
    <div id="top-card">
    </div>
  </div>
  <div class="column is-8">
    <h4 class="is-size-4 mb-2">Players:</h4>
    <div id="players">
    </div>
  </div>
</div>

<div id="winner"></div>
  <hr>

  <div id="action-area" hx-get="/{{ name }}/action" hx-trigger="load once">
  </div>

<div id="ws" hx-ext="ws" ws-connect="/ws/{{ name }}"></div>
<div id="trigger-ws" hx-get="/{{ name }}/status" hx-trigger="load once delay:100ms" hx-swap="none"></div>


{% endblock %}
